header, footer{
    height: 100px;
    font-size:26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    color: #ffffff;
}

body {
  font-family: 'Inter', sans-serif;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

/* This styling is for hero section */

.gradient-border {
    padding: 4px;
    background: linear-gradient(to right, #8266ff, #d787f9, #befc6e);
    display: inline-block;
    border-radius: 80px; 
  }
  .inner-button {
    border: none; 
    border-radius: 80px; 
    cursor: pointer; 
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .inner-button:hover {
    box-shadow: 0 0 30px #8266ff, 0 0 30px #d787f9, 0 0 30px #befc6e;
  }

  .gradient-text {
    background: linear-gradient(to right, #482dc7, #8e44ad, #3498db);
    /* -webkit-background-clip: text; */
    color: transparent;
    display: inline-block; 
}
  
  
.shadow-purple:hover {
  box-shadow: 0 4px 6px -1px rgba(127, 0, 255, 0.1), 0 2px 4px -1px rgba(127, 0, 255, 0.06);
}

.rotate-180 {
  transform: rotate(180deg);
}

  
ul li::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #ffa56d;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  /* transition: width 0.3s ease; */
}

ul li:hover::after {
  width: 100%;
}

  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;

}

.logos:after {
  right: 0;
}

.logos-slide {
  display: flex;
  flex-direction: row;
  animation: 20s slide infinite linear;
}

.logos-slide img {
  height: 25px;
  margin: 0 40px;
}

/* Footer styling start from here: */
.footer-styling {
  color: #babcba;
  font-size: 1.125rem; 
  padding-top: 0.25rem; 
  padding-bottom: 0.25rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out; 
}

.footer-styling:hover {
  color: #ffa56d;
  width: fit-content; 
  transform: scale(1.05);
}

