header, footer{
    height: 100px;
    font-size:26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    color: #ffffff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this CSS to your styles or style tag */
/* In your CSS or Tailwind CSS configuration file */
.border-gradient-purple-pink {
    /* border-image: linear-gradient(to right, #8a2be2, #ff69b4);
    border-image-slice: 1; */
    /* border-radius: 50px; */
}
.btn-style{
    /* border-top-left-radius: 50px !important;
    border-top-right-radius: 50px !important; */
    
}
.gradient-border {
    padding: 2px; /* Adjust based on border thickness */
    background: linear-gradient(45deg, red, blue); /* Your gradient */
    display: inline-block; /* To fit the size of the button */
    border-radius: 80px; /* Match the border-radius of the button if any */
  }
  .inner-button {
    background-color: white; /* Button color */
    border: none; /* Remove default border */
    padding: 10px 20px; /* Adjust based on your needs */
    border-radius: 80px; /* Match the wrapper's border-radius if any */
    cursor: pointer; /* Optional: Changes the cursor on hover */
  }
  
  
  
  

